p {
      margin: unset;
}

input[type="checkbox"] {
      width: 15px;
      height: 15px;
      margin-right: 5px;
      margin-bottom: 2.5px;
      vertical-align: middle;
}

.margin-bottom {
      margin-bottom: 2.5%;
}

.parent {
      margin: 0px auto;
}

.input {
      width: 75%;
      margin-right: 2.5%;
}
  
.link {
      color: #381be7;
      cursor: pointer;
} 
  
::-webkit-scrollbar {
      width: 10px;
}
    
    /* Track */
::-webkit-scrollbar-track {
      background: #f1f1f1; 
}
     
    /* Handle */
::-webkit-scrollbar-thumb {
      background: #009efb; 
}
  
.scrolling-box {
    display: block;
    height: 65vh;
    overflow-y: auto;
    width: 100%;
}

.custom-row {
      vertical-align: middle;
      width: 100%;
      margin-bottom: 2.5%;
}
  
.custom-row label {
      font-weight: bolder;
      display: inline-block;
      margin-bottom: unset;
}

.custom-row h5 {
      width: 17%;
      display: inline-block;
      margin: unset;
}