<div class="col-12" style="padding-top: 60px;">
    <div class="col-4 card"  style="font-size: 14px; margin: auto;">
        <div class="card-body" style="padding-left: 30px; padding-right: 30px;">
              <h4 style="margin-top: 25px; margin-bottom: 25px; font: Proxima Nova,Helvetica,Arial,sans-serif">
                Reset Your Password
            </h4>

              <p style="margin-top: 20px; margin-bottom: 25px; font-size: 13px;">Add the email you registered to Medic-CMS with and we will send you an email with instructions on how to reset your password.</p>
            
              <form [formGroup] = 'forgotPasswordForm'  (ngSubmit)="sendEmail()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" formControlName="email" required
                    [ngClass]="{ 'is-invalid': submitted && control.email.errors }">
                    <div *ngIf="submitted && control.email.errors" class="invalid-feedback">
                        <div *ngIf="control.email.errors.required">
                            Email is required
                        </div>
                        <div *ngIf="control.email.errors.email">
                            Email must be valid
                        </div>
                    </div>
                    <button class="button" type="submit" style="margin-bottom: 30px;" > 
                        RESET PASSWORD
                    </button>
                    <div *ngIf="loader" class="loader">
                        <img src="/assets/images/landing_page/loader.gif" height="50px" width="50px" alt="" srcset="">
                      </div>
                      <div *ngIf="success" class="alert alert-success" role="alert">
                        {{ successMessage }}
                      </div>
                      <div *ngIf="failure" class="alert alert-danger" role="alert">
                        {{ failureMessage }}
                      </div>
                    
                </div>

              </form>
            <p style="text-align: center; font-size: 13px; margin-bottom: 50px;">
                If you do not need to reset your password, you can 
                <span style=" color: #009efb; cursor: pointer;" (click)="login()">
                    <u>log in.</u>
                </span> 
            </p>

        </div>
    </div>
</div>