.button{
  background-color: #009efb;
  border-color: #009efb;
  color: #fff;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #009efb;
  padding: 8px 15px;
  border: 1px solid #1a84fe;
  border-radius: 4px;
  transition: background-color .3s;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}

.loader{
  text-align: center;
}
