<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar js-sticky-header site-navbar-target"
        role="banner">

        <div class="container">
            <div class="row align-items-center">

                <div class="col-6 col-lg-2">
                    <h1 class="mb-0 site-logo"><a href="/" class="mb-0">Medic</a></h1>
                </div>

                <div class="col-12 col-md-10 d-none d-lg-block">
                    <nav class="site-navigation position-relative text-right"
                        role="navigation">

                        <ul class="site-menu main-menu js-clone-nav mr-auto
                            d-none d-lg-block">
                            <li class="active"><a href="/" class="nav-link">Home</a></li>
                            <li><a href="/auth/login" class="nav-link">Login</a></li>
                            <li><a href="/auth/signup" class="nav-link">Signup</a></li>
                            <!-- <li class="has-children">
                                <a href="blog.html" class="nav-link">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog.html" class="nav-link">Blog</a></li>
                                    <li><a href="blog-single.html"
                                            class="nav-link">Blog Sigle</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html" class="nav-link">Contact</a></li> -->
                        </ul>
                    </nav>
                </div>


                <div class="col-6 d-inline-block d-lg-none ml-md-0 py-3"
                    style="position: relative; top: 3px;">

                    <a href="#" class="burger site-menu-toggle js-menu-toggle"
                        data-toggle="collapse"
                        data-target="#main-navbar">
                        <span></span>
                    </a>
                </div>

            </div>
        </div>

    </header>


    <main id="main">
        <div class="hero-section">
            <div class="wave">

                <svg width="100%" height="355px" viewBox="0 0 1920 355"
                    version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none"
                        fill-rule="evenodd">
                        <g id="Apple-TV" transform="translate(0.000000,
                            -402.000000)" fill="#FFFFFF">
                            <path
                                d="M0,439.134243 C175.04074,464.89273
                                327.944386,477.771974 458.710937,477.771974
                                C654.860765,477.771974 870.645295,442.632362
                                1205.9828,410.192501 C1429.54114,388.565926
                                1667.54687,411.092417 1920,477.771974 L1920,757
                                L1017.15166,757 L0,757 L0,439.134243 Z"
                                id="Path"></path>
                        </g>
                    </g>
                </svg>

            </div>

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 hero-text-image">
                        <div class="row">
                            <div class="col-lg-7 text-center text-lg-left">
                                <h1 data-aos="fade-right">Manage all of your
                                    Clinical data on the Cloud</h1>
                                <!-- <p class="mb-5" data-aos="fade-right" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.</p> -->
                                <p data-aos="fade-right" data-aos-delay="200"
                                    data-aos-offset="-500"><a href="/auth/signup"
                                        class="btn btn-outline-white">Get
                                        started</a></p>
                            </div>
                            <div class="col-lg-5 iphone-wrap">
                                <img src="assets/img/phone_1.png" alt="Image"
                                    class="phone-1" data-aos="fade-right">
                                <img src="assets/img/phone_2.png" alt="Image"
                                    class="phone-2" data-aos="fade-right"
                                    data-aos-delay="200">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="site-section">
            <div class="container">

                <div class="row justify-content-center text-center mb-5">
                    <div class="col-md-5" data-aos="fade-up">
                        <h2 class="section-heading">Why Medic ?</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
                        <div class="feature-1 text-center">
                            <div class="wrap-icon icon-1">
                                <span class="icon fa fa-users"></span>
                            </div>
                            <h3 class="mb-3">Centralized System</h3>
                            <p>Save time and money with a centralized
                                patient and practice management system
                                that will help the different areas of your
                                organization to work in unison</p>
                        </div>
                    </div>
                    <div class="col-md-4" data-aos="fade-up"
                        data-aos-delay="100">
                        <div class="feature-1 text-center">
                            <div class="wrap-icon icon-1">
                                <span class="icon fa fa-toggle-off"></span>
                            </div>
                            <h3 class="mb-3">Scheduling</h3>
                            <p>Simple scheduling to handle all your
                                physicians encounters.</p>
                        </div>
                    </div>
                    <div class="col-md-4" data-aos="fade-up"
                        data-aos-delay="200">
                        <div class="feature-1 text-center">
                            <div class="wrap-icon icon-1">
                                <span class="icon fa fa-chart-line"></span>
                            </div>
                            <h3 class="mb-3">Reports</h3>
                            <p>Streamline reports to have greater visibility
                                of what is going on in your organization and
                                simplify your billing process.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div> <!-- .site-section -->

        <div class="site-section">
            <div class="container">
                <!-- <div class="row justify-content-center text-center mb-5"
                    data-aos="fade">
                    <div class="col-md-6 mb-5">
                        <img src="assets/img/undraw_svg_1.svg" alt="Image"
                            class="img-fluid">
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-md-4">
                        <div class="step">
                            <span class="number">01</span>
                            <h3>Sign Up</h3>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="step">
                            <span class="number">02</span>
                            <h3>Create Profile</h3>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="step">
                            <span class="number">03</span>
                            <h3>Use the app</h3>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .site-section -->



        <div class="site-section pb-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 mr-auto">
                        <h2 class="mb-4">Better Patient Care</h2>
                        <p class="mb-4">
                            Managing your patient’s information from
                            the cloud means that their data is always
                            accessible and up to date in any of your
                            clinical network’s locations.
                        </p>
                    </div>
                    <div class="col-md-6" data-aos="fade-left">
                        <img src="assets/images/landing_page/better_patient.png" alt="Image"
                            class="img-fluid">
                    </div>
                </div>
            </div>
        </div> <!-- .site-section -->

        <div class="site-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 ml-auto order-2">
                        <h2 class="mb-4">Business Intelligence</h2>
                        <p class="mb-4">
                            With MEDIC’s business intelligence suite
                            you will have all the information you need
                            to predict clinical and commercial trends
                            across your clinic(s).
                        </p>
                        <p class="mb-4">
                            Know what diagnosis are the most common
                            and which locations are treating the most
                            patients. From where those patients are
                            coming to your clinics.
                        </p>
                    </div>
                    <div class="col-md-6" data-aos="fade-right">
                        <img src="assets/images/landing_page/business.png" alt="Image"
                            class="img-fluid">
                    </div>
                </div>
            </div>
        </div> <!-- .site-section -->
        <div class="">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 mr-auto">
                        <h2 class="mb-4">Live Support</h2>
                        <p class="mb-4">
                            We are passionate about creating a great
                            customer experience that’s why we have a
                            real time integrated support chat in the
                            system, so that we can help you with
                            whatever you need.
                        </p>
                    </div>
                    <div class="col-md-6" data-aos="fade-left">
                        <img src="assets/images/landing_page/live_support.png" alt="Image"
                            class="img-fluid">
                    </div>
                </div>
            </div>
        </div> <!-- .site-section -->

        <div class="site-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 ml-auto order-2">
                        <h2 class="mb-4">Mobile App for Patients</h2>
                        <p class="mb-4">
                            Your patients can access there health
                            records and book appointments with your
                            clinic via a custom built mobile app. In
                            addition to this, you can send out
                            notifications and promotions to your
                            patients via in-app notifications.
                        </p>

                    </div>
                    <div class="col-md-6" data-aos="fade-right">
                        <img src="assets/images/landing_page/mobile_app.png" alt="Image"
                            class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5 mr-auto">
                        <h2 class="mb-4">Electronic Health Records</h2>
                        <div class="mb-4">
                            <ul>
                                <li>Charting and Patient Encounters</li>
                                <li>Customizable Medical History</li>
                                <li>Vital Signs Graphs</li>
                                <li>Print Prescriptions and Health Records</li>
                                <li>Send Prescriptions by Email</li>
                                <li>Store Lab works and Imaging in the
                                    cloud</li>
                                <li>Duplicate patient creation prevention</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-left">
                        <img src="assets/images/landing_page/health_record.png" alt="Image"
                            class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        

        <div class="site-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 ml-auto order-2">
                        <h2 class="mb-4">Billing & Revenue Control</h2>
                        <p class="mb-4">
                            Document all patient charges (services,
                            products, labs and diagnostics) related to
                            an appointment and keep track of your
                            Clinic’s financial performance. <br>
                            You will have your own dashboard to track
                            your Clinic’s financial performance, analyze
                            new medical services, average receipt price
                            and overall income.
                        </p>

                    </div>
                    <div class="col-md-6" data-aos="fade-right">
                        <img src="assets/images/landing_page/billing.png" alt="Image"
                            class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        

        <div class="">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5 mr-auto">
                        <h2 class="mb-4">Automatic Report Generation</h2>
                        <p class="mb-4">
                            Automatic Report Generation: Every week
                            you will have a clear view of what
                            happened in your practice last week, from
                            how many encounters you had, how many
                            new patients you saw or what your
                            schedule is looking like for the following
                            week
                        </p>
                    </div>
                    <div class="col-md-6" data-aos="fade-left">
                        <img src="assets/images/landing_page/automated.png" alt="Image"
                            class="img-fluid">
                    </div>
                </div>
            </div>
        </div>


        <div class="site-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 ml-auto order-2">
                        <h2 class="mb-4">Metrics Dashboards</h2>
                        <p class="mb-4">
                            Its easy to get caught up in the day to day
                            work, thanks to MEDIC now you can see
                            statistics and trends in your patient
                            encounters. Convert your encounters data
                            into strategic information to grow your
                            business.
                        </p>

                    </div>
                    <div class="col-md-6" data-aos="fade-right">
                        <img src="assets/images/landing_page/metrics.png" alt="Image"
                            class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5 mr-auto">
                        <h2 class="mb-4">Online Appointment Booking & Reminders</h2>
                        <p class="mb-4">
                            Your patients will be able to book their
                            appointments online. MEDIC has a patient
                            mobile app, that patients can use to book
                            appointments instantly.
                            <br><br>
                            MEDIC helps your patients never miss an
                            appointment via mobile app and email
                            reminders so your patients will always have
                            their appointment information at hand.
                        </p>
                    </div>
                    <div class="col-md-6" data-aos="fade-left">
                        <img src="assets/images/landing_page/appointment.png" alt="Image"
                            class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 ml-auto order-2">
                        <h2 class="mb-4">FREE!!!</h2>
                        <p class="mb-4">
                            MEDIC is a revolutionary new way to
                            manage your clinical data on the cloud. Like
                            all good things in life, it is completely free
                            to use with no hidden charges or fees what
                            so ever.
                        </p>

                    </div>
                    <div class="col-md-6" data-aos="fade-right">
                        <img src="assets/images/landing_page/free.png" alt="Image"
                            class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <!-- .site-section -->


        <!-- <div class="site-section border-top border-bottom">
            <div class="container">
                <div class="row justify-content-center text-center mb-5">
                    <div class="col-md-4">
                        <h2 class="section-heading">Review From Our Users</h2>
                    </div>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="col-md-7">
                        <div class="owl-carousel testimonial-carousel">
                            <div class="review text-center">
                                <p class="stars">
                                    <span class="icofont-star"></span>
                                    <span class="icofont-star"></span>
                                    <span class="icofont-star"></span>
                                    <span class="icofont-star"></span>
                                    <span class="icofont-star muted"></span>
                                </p>
                                <h3>Excellent App!</h3>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Eius ea delectus
                                        pariatur, numquam
                                        aperiam dolore nam optio dolorem facilis
                                        itaque voluptatum recusandae deleniti
                                        minus animi,
                                        provident voluptates consectetur maiores
                                        quos.</p>
                                </blockquote>



                                <p class="review-user">
                                    <img src="assets/img/person_1.jpg"
                                        alt="Image" class="img-fluid
                                        rounded-circle mb-3">
                                    <span class="d-block">
                                        <span class="text-black">Jean Doe</span>,
                                        &mdash; App User
                                    </span>
                                </p>

                            </div>

                            <div class="review text-center">
                                <p class="stars">
                                    <span class="icofont-star"></span>
                                    <span class="icofont-star"></span>
                                    <span class="icofont-star"></span>
                                    <span class="icofont-star"></span>
                                    <span class="icofont-star muted"></span>
                                </p>
                                <h3>This App is easy to use!</h3>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Eius ea delectus
                                        pariatur, numquam
                                        aperiam dolore nam optio dolorem facilis
                                        itaque voluptatum recusandae deleniti
                                        minus animi,
                                        provident voluptates consectetur maiores
                                        quos.</p>
                                </blockquote>



                                <p class="review-user">
                                    <img src="assets/img/person_2.jpg"
                                        alt="Image" class="img-fluid
                                        rounded-circle mb-3">
                                    <span class="d-block">
                                        <span class="text-black">Johan Smith</span>,
                                        &mdash; App User
                                    </span>
                                </p>

                            </div>


                            <div class="review text-center">
                                <p class="stars">
                                    <span class="icofont-star"></span>
                                    <span class="icofont-star"></span>
                                    <span class="icofont-star"></span>
                                    <span class="icofont-star"></span>
                                    <span class="icofont-star muted"></span>
                                </p>
                                <h3>Awesome functionality!</h3>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Eius ea delectus
                                        pariatur, numquam
                                        aperiam dolore nam optio dolorem facilis
                                        itaque voluptatum recusandae deleniti
                                        minus animi,
                                        provident voluptates consectetur maiores
                                        quos.</p>
                                </blockquote>



                                <p class="review-user">
                                    <img src="assets/img/person_3.jpg"
                                        alt="Image" class="img-fluid
                                        rounded-circle mb-3">
                                    <span class="d-block">
                                        <span class="text-black">Jean Thunberg</span>,
                                        &mdash; App User
                                    </span>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->



        <div class="site-section cta-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 mr-auto text-center text-md-left mb-5
                        mb-md-0">
                        <h2>Get in Touch</h2>
                    </div>
                    <div class="col-md-5 text-center text-md-right">
                        <div class="text-center text-md-left mb-5 mr-auto">
                            <div class="contact">Contact</div><br>
                            <div class="ml-2">
                                V31 – Khorfakkan Sharjah,
                                United Arab Emirates <br><br>
                                <span class="bold">Email : </span> bilal.hamed@gmail.com <br><br>
                                <span class="bold">Phone : </span> +971-50-1364096 <br><br>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>


    </main>
    <footer class="footer" role="contentinfo">
        <div class="container">
          

            <div class="row justify-content-center text-center">
                <div class="col-md-7">
                    <p class="copyright">&copy; Copyright Medic. All Rights
                        Reserved</p>
                  
                </div>
            </div>

        </div>
    </footer>
</div> <!-- .site-wrap -->